{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<section class="servicespage " >
 <div class="container">
<div class="row">
       <div class="col-lg-12">
<div class="section-title pt-5">
             <p> For Employee</p>
                <h2 class="title wow pixFadeUp " data-wow-delay="0.3s">Neo for Manage Expenses</h2>
   </div>
        <div class="about-content ">
   <p> <img src="{% static 'img/manage-exp.png' %}"  class="services-img" alt="">
    Bodge barmy bugger no biggie bleeding bits and bobs my good sir, spend a penny faff about are you taking the piss.
   <p> Bodge barmy bugger no biggie bleeding bits and bobs my good sir, spend a penny faff about are you taking the piss what a plonker bobby bevvy, chancer Eaton me old mucker don't get shirty with me is.</p>
    Why I say old chap that is spiffing, bite your arm off geeza blag pukka bleeder A bit of how's your father bugger all mate gutted mate, cheesed off hunky-dory gosh morish get stuffed mate lemon squeezy. Bodge barmy bugger no biggie bleeding bits and bobs my good sir, spend a penny faff about are you taking the piss what a plonker bobby bevvy, chancer Eaton me old mucker don't get shirty with me is.

Bodge barmy bugger no biggie bleeding bits and bobs my good sir, spend a penny faff about are you taking the piss what a plonker bobby bevvy, chancer Eaton me old mucker don't get shirty with me is. Bodge barmy bugger no biggie bleeding bits and bobs my good sir, spend a penny faff about are you taking the piss what a plonker bobby bevvy, chancer Eaton me old mucker don't get shirty with me is. Bodge barmy bugger no biggie bleeding bits and bobs my good sir, spend a penny faff about are you taking the piss what a plonker bobby bevvy, chancer Eaton me old mucker don't get shirty with me is.

    </p>
    </div>

</div>







</div>




 </div>
</section>



<section class="call-to-action">
 <div class="overlay-bg"><img src="{% static 'img/b.jpeg' %}" alt="bg"></div>
 <div class="container">
    <div class="action-content text-center wow pixFadeUp">
       <h2 class="title">We are optimists who<br>love to work together</h2>
       <p>Spiffing good time nice one mush ummm I'm telling down the pub spend<br>a penny only a quid such a fibber tomfoolery, on your bike.</p>
     <div class="banner-button-container">

                <a href="#" class="app-btn-two btn-light wow flipInX" data-wow-delay="0.5s"><img src="{% static 'img/google-play.svg' %}"><span class="btn-text"><span class="text-top">Get on the</span> <span>Google play</span></span></a>

             </div>
    </div>
 </div>

</section>
<section class="brand-logo-ab">
 <div class="section-small text-center">
    <h2 class="title wow pixFadeUp">Trusted Over 2500+ Companies</h2>
 </div>
 <div class="container">
    <div class="swiper-container logo-carousel wow pixFadeUp" id="logo-carousel" data-perpage="6" data-breakpoints='{"1024": {"slidesPerView": 4}, "768": {"slidesPerView": 4}, "620": {"slidesPerView": 3}}'>
       <div class="swiper-wrapper">
          <div class="swiper-slide">
             <div class="brand-logo"><img src="{% static 'img/18.png' %}" alt="brand"></div>
          </div>
          <div class="swiper-slide">
             <div class="brand-logo"><img src="{% static 'img/18.png' %}" alt="brand"></div>
          </div>
          <div class="swiper-slide">
             <div class="brand-logo"><img src="{% static 'img/18.png' %}" alt="brand"></div>
          </div>
          <div class="swiper-slide">
             <div class="brand-logo"><img src="{% static 'img/18.png' %}" alt="brand"></div>
          </div>
          <div class="swiper-slide">
             <div class="brand-logo"><img src="{% static 'img/18.png' %}" alt="brand"></div>
          </div>
          <div class="swiper-slide">
             <div class="brand-logo"><img src="{% static 'img/18.png' %}" alt="brand"></div>
          </div>
       </div>
    </div>
 </div>
</section>
{% endblock %}
